$header-height: 60px;
$nav-width: 300px;

$greyscale-1: #fafafa;
$greyscale-2: #f5f5f5;
$greyscale-3: #eee;
$shadow-color: #444;

@mixin screen-width($width) {
  @if $width == small {
    @media (max-width: 2*$nav-width) {
      @content;
    }
  } @else if $width == smaller {
    @media (max-width: 1.5*$nav-width) {
      @content;
    }
  }
}

%visible {
  opacity: 1;
}

%no-outline {
  outline: none;
}
