@import "notesvars";

@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
  min-width: 2*$nav-width;
  margin: 0;
  overflow-y: scroll;

  font-family: 'Source Sans Pro', Helvetica;
}

a {
  text-decoration: none;

  &:focus {
    outline: 0;
  }
}

h1, h2, h3, h4 {
  margin: 0;

  font-weight: normal;

  @at-root h4 {
    font-size: 1.1em;
  }
}

button {
  position: fixed;
}

header {

  > h1 {
    position: fixed;
    right: 0;
    left: $nav-width;

    min-width: $nav-width;
    padding: 0 120px;
    overflow: hidden;

    background-color: $theme-bg-color;
    color: #fff;

    font-weight: normal;
    line-height: $header-height;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  > ul {
    position: fixed;
    top: $header-height;
    left: -999px; // hacky way to hide the list when not on screen
    z-index: 1;

    padding: 0;
    box-shadow: 0 4px 8px $light-shadow;
    margin: 0;
    opacity: 0;
    overflow: hidden;

    background-color: $greyscale-1;

    text-align: center;

    list-style-type: none;

    transform: translateX(-50%);
    transition: left 0s .25s, top .25s, opacity .25s;

    a {
      display: block;
      padding: 10px 20px;

      color: #000;

      transition: background-color .25s;

      &:hover, &:focus {
        background-color: $greyscale-2;
      }

      &:active {
        background-color: $greyscale-3;
      }
    }
  }

  @at-root {
    header > ul:hover, #home:hover + ul {
      top: 100px;
      left: ($nav-width - 60px);

      opacity: 1;

      transition: top .25s, opacity .25s;
    }

    #home {
      position: fixed;
      top: 30px;
      left: ($nav-width - 90px);
      z-index: 2;

      padding: 0;

      &::before, &::after {
        content: "";

        display: block;
        border-style: solid;
      }

      &::before {
        height: 0;
        width: 0;
        border-width: 0 20px 20px;
        border-color: transparent transparent #fff;
        margin: 10px 0 0 10px;
      }

      &::after {
        height: 10px;
        width: 6px;
        border-width: 10px 7px 0;
        border-color: #fff;
        margin-left: 20px;
      }
    }
  }
}

#header-nav {
  position: fixed;
  top: 30px;
  right: 0;
  left: $nav-width;

  min-width: $nav-width;

  @at-root {
    h2 {
      position: absolute;

      max-width: calc(100% - 260px);
      padding: 0 20px;
      box-shadow: 0 2px 2px #444;
      opacity: 0;

      background-color: $greyscale-1;
      color: #888;

      font-weight: normal;
      line-height: 60px;
      word-wrap: break-word; overflow-wrap: break-word;

      pointer-events: none;

      @at-root {
        #title-prev {
          left: 60px;

          transition: left .25s, opacity .25s;
        }

        #title-next {
          right: 60px;

          text-align: right;

          transition: right .25s, opacity .25s;
        }
      }
    }

    .fab {
      position: absolute;

      height: 60px;
      width: 60px;
      border-radius: 50%;
      box-shadow: 0 2px 2px $light-shadow;

      background-color: $accent-color;
      transition: opacity .25s, background-color .25s;

      &[href=""] {
        opacity: 0;
        pointer-events: none;
      }

      &:hover {
        background-color: (.9*$accent-color);
      }

      &:active {
        background-color: (.8*$accent-color);
      }
    }

    #prev, #next {

      &::before, &::after {
        content: "";

        display: block;
        height: 5px;
        width: 20px;
        margin-left: 21px;

        background-color: #fff;
      }

      &::before {
        margin-top: 25px;
      }
    }

    #prev {
      left: 30px;

      &:hover + #title-prev {
        left: 120px;

        opacity: 1;
      }

      &::before {
        transform: rotate(60deg);
        transform-origin: 0 100%;
      }

      &::after {
        transform: rotate(-60deg);
        transform-origin: 0 0;
      }
    }

    #next {
      right: 30px;

      &:hover + #title-next {
        right: 120px;

        opacity: 1;
      }

      &::before {
        transform: rotate(-60deg);
        transform-origin: 100% 100%;
      }

      &::after {
        transform: rotate(60deg);
        transform-origin: 100% 0;
      }
    }
  }
}

nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;

  width: $nav-width;
  border-right: 1px solid $theme-bg-color;

  background-color: #fff;

  transition: left .25s;

  ol {
    padding-left: 0;
    border-color: $theme-bg-color;
    margin-left: 10px;

    list-style-type: none;
    counter-reset: section;
  }

  > ol {
    position: fixed;
    top: ($header-height - 1px);
    bottom: 0;

    width: $nav-width;
    margin: 0;
    border-top: 1px solid $theme-bg-color;
    &.current {overflow-y: auto;} // for specificity

    word-wrap: break-word; overflow-wrap: break-word;
  }

  a {
    display: block;
    padding: 5px;

    color: #000;

    cursor: pointer;

    transition: background-color .25s, color .25s;

    &:hover, &:focus {
      background-color: $greyscale-1;
    }

    &:active {
      background-color: $greyscale-2;
    }

    &::before {
      counter-increment: section;
      content: counters(section,".") " ";
    }

    @at-root {
      a.current {
        color: $accent-color;
      }

      .nolist {
        height: 0;
        padding: 0;
        visibility: hidden;
      }
    }
  }
}

article {
  min-height: calc(100vh + 170px); // 240px - $footer-height - 10px
  padding: 0 10px 10px;
  margin: 0 0 $footer-height $nav-width;
  box-shadow: 0 0 8px $dark-shadow;

  background-color: #fff;

  li {
    padding: 5px 0;
  }
}

#title-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 240px;
  padding: 0 120px;
  margin: 0 -10px 100px;
  overflow: hidden;

  background-color: $theme-bg-color;
  color: #fff;

  > h1 {
    margin-bottom: 10px;

    font-size: 2em;
    font-weight: 600;
    word-wrap: break-word; overflow-wrap: break-word;
  }

  @at-root aside {
    font-style: italic;
  }
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: $nav-width;
  z-index: -1;

  height: $footer-height;

  background-color: $theme-bg-color;
  color: #fff;

  transition: left .25s;

  > p {
    margin: 5px 10px;
  }
}

article a, footer a {
  color: $accent-color;

  transition: opacity .25s;

  &:hover {
    opacity: .75;
  }

  &:active {
    opacity: .5;
  }
}

table {
  box-shadow: 0 0 4px $light-shadow;

  border-collapse: collapse;

  @at-root {
    th, td {
      padding: 10px;
    }

    th {
      background-color: $greyscale-1;

      font-weight: normal;
    }

    td {
      border-top: 1px solid #bdbdbd;

      transition: background-color .25s;

      &:hover {
        background-color: $greyscale-1;
      }
    }
  }
}

.footnote {
  vertical-align: super;
}

.footnotes {
  margin-top: 100px;

  font-size: smaller;

  ol {
    list-style-type: none;
    counter-reset: footnote;

    & > li::before {
      counter-increment: footnote;
      content: counter(footnote);

      vertical-align: super;
    }
  }
}

// special expressions

.equation {
  white-space: nowrap;

  font-style: italic;
}

.layered-text {
  display: inline-block;
  margin: 0 1px;

  vertical-align: middle;

  @at-root {
    .layer {
      display: block;
      padding: 0 1px;

      font-size: .7em; // ~sqrt(2)
    }

    .layer-line {
      border-bottom: 1px solid #000;
    }

    @each $alignment in left, center, right {
      .text-align-#{$alignment} {
        text-align: $alignment;
      }
    }
  }
}
