@import "notesvars";

@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(//fonts.googleapis.com/css?family=Source+Code+Pro);

body {
  min-width: 2*$nav-width;
  margin: 0;
  
  font-family: 'Source Sans Pro', Helvetica;
}

a {
  text-decoration: none;
  
  &:focus {
    outline: 0;
  }
}

h3, h4 {
  margin: 0;

  font-weight: normal;
}

button {
  position: fixed;
  left: 10px;
  top: $button-margin-top;
  z-index: $z-index-above-header;

  display: block;
  box-sizing: content-box; // why isn't this default?
  height: ($button-height/5);
  width: 40px;
  padding: 0;
  border-width: (2*$button-height/5) 0;
  border-style: solid;
  border-color: $theme-bg-color;
  outline: 0;
  opacity: 0;
  
  background-color: $theme-color;

  transition: opacity .25s; 
  transform-origin: 20px ($button-height/2);

  @include screen-width(small) {
    opacity: 1;
  }

  &::after,
  &::before {
    content: "";
    position: fixed;
    left: 10px;
    
    display: inline-block;
    height: inherit;
    width: inherit;

    background-color: inherit;
  }

  &::after { // bottom
    top: ($button-margin-top + 4 * $button-height / 5);
  }

  &::before { // top 
    top: inherit;
  }

  &::-moz-focus-inner {
    border: 0;
  }
}

header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: $z-index-header;

  height: $header-height;
  width: 100%;
  min-width: 1.5*$nav-width;
  box-shadow: 0 0 8px $shadow-color;

  background-color: $theme-bg-color;
  color: $theme-color;

  text-align: center;

  > ul {
    position: fixed;
    top: $header-height;
    left: 0;

    width: $nav-width;
    padding: 0;
    box-shadow: 0 8px 8px #888;
    margin: 0;
    opacity: 0;
    overflow: hidden;

    background-color: #fff;

    list-style-type: none;
    transition: opacity .25s;

    a {
      display: block;
      padding: 10px;

      color: #000;

      transition: background-color .25s;

      &:hover, &:focus {
        background-color: $greyscale-1;
      }

      &:active {
        background-color: $greyscale-2;
      }
    }
  }
}
  
h2 {
  position: fixed;
  top: 0;
  z-index: $z-index-header;

  padding: 10px 0;
  margin: 0;
  overflow: hidden;

  background-color: $theme-bg-color;

  word-wrap: break-word;
  overflow-wrap: break-word; // CSS3 rename of above
  
  line-height: 40px;
  text-overflow: ellipsis;
  white-space: nowrap;
  
  transition: opacity .25s;
  
  @include screen-width(small) {
    opacity: 0;
  }
}

#home:hover + ul,
ul:hover {
  @extend %visible;
}

#title-prev {
  left: $nav-width;
  right: 50%;

  margin-right: -95px;

  text-align: right;

  transition: left .25s, margin-right .25s;
}

#title-next {
  left: 50%;
  right: 10px;

  margin-left: 205px;

  text-align: left;
  
  transition: margin-left .25s;
}

#prev,
#home,
#next {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-style: solid;
  border-color: $theme-bg-color;
  margin: 10px 5px;
  opacity: 0;

  background-color: $theme-color;

  transition: opacity .25s;

  &[href] {
    @extend %visible;

    &:hover {
      opacity: .75;
    }

    &:active {
      opacity: .5;
    }
  }

  &::before {
    content: "";

    display: block;
    height: 0;
    width: 0;
    border-style: solid;
  }
}

#prev {
  border-width: 10px 0 10px 20px;
  margin-left: 305px;

  transition: margin-left .25s;

  &::before {
    border-width: 20px 20px 20px 0;
    margin-left: -20px;
    margin-top: -10px;

    border-color: $theme-bg-color $theme-color $theme-bg-color $theme-bg-color;
  }
}

#home {
  position: fixed;
  left: ($nav-width / 2 - 25px);

  border-width: 20px 10px 10px;
  margin-bottom: 0;

  &::before {
    border-width: 0 20px 20px;
    margin-left: -10px;
    margin-top: -20px;

    border-color: $theme-bg-color $theme-bg-color $theme-color;
  }
  
  &::after {
    content: "";

    display: block;
    height: 10px;
    width: 6px;
    margin-left: 7px;
    margin-top: 10px;

    background-color: $theme-bg-color;
  }
}

#next {
  border-width: 10px 20px 10px 0;

  &::before {
    border-width: 20px 0 20px 20px;
    margin-left: 20px;
    margin-top: -10px;

    border-color: $theme-bg-color $theme-bg-color $theme-bg-color $theme-color;
  }
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  top: $header-height;
  @if $z-index-nav {z-index: $z-index-nav;}

  width: $nav-width;
  border-right: 1px solid $theme-bg-color;
  overflow-y: auto;

  background-color: #fff;

  word-wrap: break-word;

  transition: left .25s;

  ol {
    padding-left: 0;
    border-color: $theme-bg-color;
    margin-left: 10px;

    list-style-type: none;
    counter-reset: section;
  }

  > ol {
    margin: 0;
  }

  a {
    display: block;
    padding: 5px;

    color: #000;

    cursor: pointer;

    transition: background-color .25s, color .25s;

    &:hover, &:focus {
      background-color: $greyscale-1;
    }

    &:active {
      background-color: $greyscale-2;
    }

    &::before {
      counter-increment: section;
      content: counters(section,".") " ";
    }
  }
}

a.current {
  color: $accent-color;
}

main {
  min-height: calc(100vh - 120px);
  margin: $header-height 0 0 $nav-width;
  box-shadow: 0 0 8px $shadow-color;

  background-color: #fff;

  text-align: justify;
  
  transition: margin-left .25s;

  > p {
    margin-left: 10px;
    margin-right: 10px;
  }

  a {
    color: $accent-color;
  }
}

h1 {
  padding: 10px 0;
  box-shadow: 0 0 8px $shadow-color;

  background-color: $theme-bg-color-2;
  color: $theme-color;

  text-align: center;
}

article {
  padding-bottom: 1px; // to prevent margin collapsing
  margin-bottom: $footer-height;

  background-color: #fff;

  li {
    margin: 10px;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: $nav-width;
  right: 0;
  z-index: $z-index-footer;

  height: $footer-height;

  background-color: $theme-bg-color;
  color: $theme-color;

  transition: left .25s;

  > p {
    margin: 5px 10px;
  }

  a {
    color: $accent-color;
    
    transition: opacity .25s;

    &:hover {
      opacity: .75;
    }

    &:active {
      opacity: .5;
    }
  }
}

table {
  border-collapse: collapse;

  article > & {
    margin: 10px;
  }
}

th, td {
  padding: 5px 10px;
  border: 1px solid #000;
}

.footnote {
  vertical-align: super;
}

.footnotes {
  margin-top: 100px;

  font-size: smaller;

  ol {
    list-style-type: none;
    counter-reset: footnote;
    
    & > li::before {
      counter-increment: footnote;
      content: counter(footnote);

      vertical-align: super;
    }
  }
}

// special expressions

.equation {
  white-space: nowrap;

  font-style: italic;
}

.fraction {
  display: inline-block;

  vertical-align: middle;
}

.numerator, .denominator {
  display: block;
  min-height: 1.25em;
  margin: 0 1px;
}

.frac-line {
  border-top: 1px solid #000;
}

@each $alignment in left, center, right {
  .text-align-#{$alignment} {
    text-align: $alignment;
  }
}
