@import "notesvars";

@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
  min-width: 1.5*$nav-width;
  margin: 0;
  
  font-family: 'Source Sans Pro', Helvetica;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: $z-index-header;

  height: $header-height;
  width: 100%;
  box-shadow: 0 0 2px $shadow-color;

  background-color: $theme-bg-color;
  color: $theme-color;

  text-align: center;
  
  > h2 {
    position: fixed;
    z-index: $z-index-above-header;

    box-shadow: 0 0 2px $theme-bg-color;
    opacity: 0;
  }

  h3 {
    margin: 0;
  }

  > ul {
    position: fixed;
    top: $header-height;
    left: 50%;

    padding: 0;
    margin: 0;
    opacity: 0;
    visibility: hidden;

    list-style-type: none;

    transition: opacity .25s;

    &:hover {
      @extend %visible;
      
      visibility: visible;
    }

    > li {
      box-shadow: 0 2px 2px $shadow-color;
      margin: 0 50% 0 -50%;

      background-color: #fff;
    }

    a {
      display: block;
      padding: 10px;
     
      background-color: $theme-bg-color;
      color: #fff;

      text-decoration: none;

      transition: opacity .25s;

      &:hover {
        opacity: .9;
      }

      &:active {
        opacity: .8;
      }

      &:focus {
        @extend %no-outline;
      }
    }
  }
}
  
header > h2,
main > h2 {
  top: 0;

  padding: 10px;
  margin: 0;

  background-color: $theme-bg-color;

  word-wrap: break-word;
  overflow-wrap: break-word; // CSS3 rename of above
  
  line-height: 40px;
  
  transition: opacity .25s;
  
  @include screen-width(small) {
    opacity: 0 !important;
  }
}

.header-nav:hover + h2 {
  @extend %visible;
}

.home:hover + ul {
  @extend %visible;

  visibility: visible;
}

.title-prev {
  left: 60px;
  right: 50%;

  margin-right: 90px;

  text-align: right;
}

.title-next {
  left: 50%;
  right: 10px;

  margin-left: 90px;

  text-align: left;
}

.header-nav {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-style: solid;
  border-color: $theme-bg-color;
  margin: 10px;
  opacity: 0;

  background-color: $theme-color;

  transition: opacity .25s;

  &[href] {
    @extend %visible;

    &:hover {
      opacity: .75;
    }

    &:active {
      opacity: .5;
    }
  }

  &::before, &:before {
    content: "";

    display: block;
    height: 0;
    width: 0;
    border-style: solid;
  }
}

.prev {
  border-width: 10px 0 10px 20px;

  &::before, &:before {
    border-width: 20px 20px 20px 0;
    margin-left: -20px;
    margin-top: -10px;

    border-color: $theme-bg-color $theme-color $theme-bg-color $theme-bg-color;
  }
}

.home {
  border-width: 20px 10px 10px;
  margin-bottom: 0;

  &::before, &:before {
    border-width: 0 20px 20px;
    margin-left: -10px;
    margin-top: -20px;

    border-color: $theme-bg-color $theme-bg-color $theme-color;
  }
  
  &::after, &:after {
    content: "";

    display: block;
    height: 10px;
    width: 6px;
    margin-left: 7px;
    margin-top: 10px;

    background-color: $theme-bg-color;
  }
}

.next {
  border-width: 10px 20px 10px 0;

  &::before, &:before {
    border-width: 20px 0 20px 20px;
    margin-left: 20px;
    margin-top: -10px;

    border-color: $theme-bg-color $theme-bg-color $theme-bg-color $theme-color;
  }
}

button {
  $button-height: 30px;
  $button-margin-top: ($header-height - $button-height) / 2;

  position: fixed;
  left: 10px;
  top: $button-margin-top;
  z-index: $z-index-header;

  display: block;
  box-sizing: content-box; // why isn't this default?
  height: ($button-height/5);
  width: 40px;
  padding: 0;
  border-width: (2*$button-height/5) 0 (2*$button-height/5 + $button-margin-top);
  border-style: solid;
  border-color: $theme-bg-color;
  opacity: 0;
  
  background-color: $theme-color;

  transition: opacity .25s;

  @include screen-width(small) {
    opacity: 1; // can't @extend %visible, not sure why
  }

  &::after, &:after,
  &::before, &:before {
    content: "";
    position: fixed;
    left: 10px;
    
    display: inline-block;
    height: inherit;
    width: inherit;


    background-color: inherit;
  }

  &::after, &:after {
    top: ($button-margin-top + 4 * $button-height / 5);
  }

  &::before, &:before {
    top: inherit;
  }
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  top: $header-height;
  z-index: $z-index-nav;

  width: $nav-width;
  border-right: 1px solid $theme-bg-color;

  background-color: $greyscale-1;

  word-wrap: break-word;

  transition: left .25s;

  ol {
    padding-left: 0;
    border-color: $theme-bg-color;
    margin-left: 10px;

    list-style-type: none;
    counter-reset: section;
  }

  > ol {
     margin: 0;
     overflow-y: auto;
  }

  a {
    display: block;
    padding: 5px;

    color: #000;

    text-decoration: none;

    cursor: pointer;

    transition: background-color .25s, color .25s;

    &:hover, &:focus {
      background-color: $greyscale-2;
    }

    &:focus {
      @extend %no-outline;
    }

    &:active {
      background-color: $greyscale-3;
    }

    &::before, &:before {
      counter-increment: section;
      content: counters(section,".") " ";
    }
  }
}

a.current {
  color: $accent-color;
}

main {
  position: absolute;
  bottom: $footer-height;
  left: 0;
  right: 0;
  top: 0;

  min-width: 1.5*$nav-width;

  background-color: #fff;

  text-align: justify;

  > h1 {
    box-shadow: 0 0 2px $shadow-color;
    margin: $header-height 0 0 $nav-width;
  
    background-color: $theme-bg-color-2;
    color: $theme-color;
  
    text-align: center;

    pointer-events: none;
    transition: margin-left .25s;
  }

  > h2 {
    position: absolute;
    z-index: $z-index-header;

    overflow: hidden;

    color: $theme-color;

    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

article {
  padding: 0 10px 1px $nav-width;
  margin-bottom: 30px;

  background-color: #fff;

  transition: padding-left .25s;
}

footer {
  position: fixed;
  bottom: 0;
  left: $nav-width;
  right: 0;
  z-index: $z-index-footer;

  box-shadow: inset 0 2px 2px -2px $shadow-color;

  background-color: $theme-bg-color;
  color: $theme-color;

  transition: left .25s;

  > p {
    margin: 5px 10px;
  }

  a {
    color: $accent-color;
    
    text-decoration: none;

    transition: opacity .25s;

    &:hover {
      opacity: .75;
    }

    &:active {
      opacity: .5;
    }
  }
}

// tentative css for fractions

.fraction {
  position: relative;

  display: inline-block;
  
  line-height: 2em;

  .numerator > & {
    top: -.6em;
  }

  .denominator > & {
    top: .6em;
  }
}

.numerator {
  position: relative;
  top: -.5em;
}

.frac-line {
  position: absolute;
  top: 1em;

  display: block;
  height: 1px;
  width: 100%;

  background-color: #000;
}

.denominator {
  position: absolute;
  left: 0;
  top: .6em;
}
