@import "notesvars";

button:hover + nav, nav:hover {
  left: 0;
}

nav {
  @include screen-width(small) {
    left: (20px - $nav-width);
  }

  @include screen-width(smaller) {
    left: -$nav-width;
  }
}

main > h1 {
  @include screen-width(small) {
    margin-left: 20px;
  }

  @include screen-width(smaller) {
    margin-left: 0;
  }
}

article {
  @include screen-width(small) {
    padding-left: (20px + 10px);
  }

  @include screen-width(smaller) {
    padding-left: 10px;
  }
}

footer {
  @include screen-width(small) {
    left: 20px;
  }

  @include screen-width(smaller) {
    left: 0;
  }
}
