$theme-color: #1a237e;
$accent-color: #aa00ff;

@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

$header-height: 100px;
$nav-width: 300px;

#header {
  position: relative;
  z-index: 2;

  height: $header-height;
  width: 100%;
  box-shadow: 0 0 2px #888;

  background-color: $theme-color;

}

#side-header {
  position: fixed;
  z-index: 1;

  height: $header-height - 1px;
  width: $nav-width;
  border-bottom: 1px solid $theme-color;
  
  background-color: #f5f5f5;
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;

  width: $nav-width;
  border-right: 1px solid $theme-color;

  background-color: #fafafa;

  word-wrap: break-word;

  ol {
    height: 0;
    padding-left: 0;
    border-bottom: 1px solid $theme-color;
    margin-left: 10px;
    overflow: hidden;

    list-style-type: none;
    counter-reset: section;
  }

  > ol {
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     top: $header-height;

     margin: 0;
     overflow-y: auto;
  }

  a {
    display: block;
    padding: 5px;

    color: #000;

    text-decoration: none;

    transition: background-color .25s;

    &:hover {
      background-color: #f5f5f5;
    }

    &::before, &:before {
      counter-increment: section;
      content: counters(section,".") " ";
    }
  }
}

nav a:hover + ol, nav ol:hover,
.current {
  height: auto;
}

.current {
    border: 0;
}

a.current {
  color: $accent-color;
}

main {
  position: absolute;
  left: $nav-width;
  right: 0;

  padding: 10px;

  text-align: justify;
}
