@import "notesvars";

button:hover ~ nav, nav:hover {
  left: 0;

  border-bottom: (2*$button-height/5 + $button-margin-top);
}

#home {
  pointer-events: none;
}

#home:hover + ul,
ul:hover {
  pointer-events: auto;
}


nav {
  @include screen-width(small) {
    left: (20px - $nav-width);
  }

  @include screen-width(smaller) {
    left: -$nav-width;
  }
}

main {
  @include screen-width(small) {
    margin-left: 20px;
  }

  @include screen-width(smaller) {
    margin-left: 0;
  }
}

footer {
  @include screen-width(small) {
    left: 20px;
  }

  @include screen-width(smaller) {
    left: 0;
  }
}
