@import "notesvars";

nav {

  ol {
    height: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    overflow: hidden;

    transition: height .25s, border-bottom-color .25s;
  }

  li {
    visibility: hidden;

    transition: visibility 0s .25s;
  }
}

.current, .expanded {
  height: unset;
  border-bottom-color: transparent;

  > li {
    visibility: visible;

    transition: visibility 0s;
  }
}
