@import "notesvars";

main {
  transition: opacity .25s;
}

button {
  @extend %visible;

  border-bottom-width: (2 * $button-height / 5);

  animation: arrow-to-hamburger-middle .25s;
  
  &::after { // bottom
    transform-origin: 0 0;
    animation: arrow-to-hamburger-bottom .25s;
  }

  &::before { // top 
    transform-origin: 0 100%;
    animation: arrow-to-hamburger-top .25s;
  }

  @at-root {
    @keyframes arrow-to-hamburger-middle {
      from {
    
      } to {
        transform: rotate(180deg);
      }
    }
    
    @keyframes arrow-to-hamburger-top {
      from {
        @include arrow-top-animation;
      } to {
        @include hamburger-top-animation;
      }
    }
    
    @keyframes arrow-to-hamburger-bottom {
      from {
        @include arrow-bottom-animation;
      } to {
        @include hamburger-bottom-animation;
      }
    }
  }
  
  + nav {
    left: -$nav-width;
  }

  ~ main {

    > h1 {
      margin-left: 0;
    }

    > article {
      padding-left: 10px;
    }
  }

  ~ footer {
    left: 0;
  }
}

#arrow {
  animation: hamburger-to-arrow-middle .25s;

  &::after {
    transform: translate(-0.707*$button-height/5, -150%)
                rotate(45deg)
                scaleX(.707)
                translateY(-100%);
    animation: hamburger-to-arrow-bottom .25s;
  }

  &::before {
    transform: translate(-0.707*$button-height/5, 150%)
                rotate(-45deg)
                scaleX(.707)
                translateY(100%);
    animation: hamburger-to-arrow-top .25s;
  }

  @at-root {
    @keyframes hamburger-to-arrow-middle {
      from {
        transform: rotate(-180deg);
      } to {
    
      }
    }
    
    @keyframes hamburger-to-arrow-top {
      from {
        @include hamburger-top-animation;
      } to {
        @include arrow-top-animation;
      }
    }
    
    @keyframes hamburger-to-arrow-bottom {
      from {
        @include hamburger-bottom-animation;
      } to {
        @include arrow-bottom-animation;
      }
    }
  }

  + nav {
    left: 0;
  }

  ~ main {

    > h1 {
      margin-left: $nav-width;
    }

    > article {
      padding-left: $nav-width;
    }
  }

  ~ footer {
    left: $nav-width;
  }
}

article {
  @include screen-width(small) {
    margin-left: 10px;
  }
}

nav {

  ol {
    height: 0;
    border-bottom: 1px solid;
    overflow: hidden;

    transition: height .25s, border-bottom-color .25s;
  }

  li {
    visibility: hidden;

    transition: visibility 0s .25s;
  }
}

.current, .expanded {
  height: auto;
  border-bottom-color: transparent;

  > li {
    visibility: visible;

    transition: visibility 0s;
  }
}
